@model IEnumerable<MvcPL.Models.AccountViewModel>

@{
    ViewBag.Title = "GetAllAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Information about all accounts</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BenefitPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BenefitPoints)
        </td>
        <td>
            @Html.ActionLink("View", "GetUserById", new { id = item.UserId })
        </td>
        <td>
            @Html.ActionLink("Close", "Close", new { id=item.Id })
        </td>
    </tr>
}

</table>
